In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
375,tt1323594,69000000,543513985,Despicable Me,Steve Carell|Jason Segel|Russell Brand|Julie A...,Pierre Coffin|Chris Renaud,Superbad. Superdad.,In a happy suburban neighbourhood surrounded b...,95,Action|Animation|Family,Universal Pictures|Illumination Entertainment,7/8/2010,7.1,2010
105,tt3862750,12000000,60273173,The Perfect Guy,Michael Ealy|Sanaa Lathan|Morris Chestnut|Kath...,David M. Rosenthal,"Trust one, fear the other.",Leah Vaughn appears to have the ideal life. Sh...,100,Drama|Thriller,Screen Gems,9/11/2015,5.6,2015
1130,tt0309593,26000000,90426405,Final Destination 2,Ali Larter|A.J. Cook|Michael Landes|Tony Todd|...,David R. Ellis,Death is like a boomerang. it keeps coming back,When Kimberly has a violent premonition of a h...,90,Horror|Mystery,New Line Cinema|Zide-Perry Productions,1/31/2003,5.9,2003
1708,tt0448134,50000000,32017803,Sunshine,Cillian Murphy|Rose Byrne|Chris Evans|Michelle...,Danny Boyle,"If the sun dies, so do we.",50 years from now the sun is dying and life on...,107,Science Fiction|Thriller,DNA Films|Ingenious Film Partners|UK Film Coun...,4/5/2007,6.8,2007
518,tt0183790,65000000,117487473,A Knight's Tale,Heath Ledger|Rufus Sewell|Shannyn Sossamon|Pau...,Brian Helgeland,He Will Rock You,"William Thatcher, a peasant, is sent to appren...",132,Adventure|Drama|Romance|Action,Columbia Pictures Corporation|Escape Artists|B...,5/11/2001,6.5,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# создаем колонку прибыль
data['profit']=data['revenue']-data['budget']

#Функця для подсчета элеметнов в колонке с данными разделенными вертикальной чертой 
def countcolumn(columnname, dataset=data):
    dataset=dataset[columnname].str.cat(sep='|') 
    dataset=pd.Series(dataset.split('|')) 
    dataset=dataset.value_counts(ascending=False) 
    display(dataset)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [6]:
# тут пишем ваш код для решения данного вопроса:
#создаем фильтр для показа только строки с максимальным значением бюджета
display(data[data.budget == data.budget.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
# сортируем датасет по убыванию значений бюджета. И выводим первые 3 значения
display(data.sort_values(by=['budget'],ascending=False).head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
#+

In [9]:
#создаем фильтр для показа только строки с максимальным значением длительности фильма
display(data[data.runtime == data.runtime.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
#+

In [11]:
#создаем фильтр для показа только строки с минимальным значением длительности фильма
display(data[data.runtime == data.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '4. 110'
#+

In [64]:
#Используем встроенный метод для подсчета среднего значения колонки длельности фильма
print(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '5. 107'
#+

In [15]:
#Используем встроенный метод для подсчета медианного значения колонки длельности фильма
print(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'
#+

In [17]:
#создаем фильтр для показа только строки с максимальным значением прибыли, используя созданную в предобработке колонку
display(data[data.profit == data.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '7. The Lone Ranger (tt1210819)'
#+

In [19]:
#создаем фильтр для показа только строки с минимальным значением прибыли, используя созданную в предобработке колонку
display(data[data.profit == data.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'

In [65]:
#Фильтруем датафрейм для показа только строк с положительным значением прибыли и выводим количество строк 
print(len(data[data.profit > 0]))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '9. The Dark Knight (tt0468569)'
#+

In [67]:
#создаем фильтр для показа только строк со значением года выпуска равным 2008
#сортируем по выручке по убыванию
display(data[data.release_year == 2008].sort_values(by=['revenue'],ascending=False).head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,caststring,month,titlelength,studiostring
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Christian Bale, Michael Caine, Heath Ledger, ...",7,13,"[DC Comics, Legendary Pictures, Warner Bros., ..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [68]:
#Создаем фильтр для показа фильмов  2012 по 2014 и сортиируем по прибыли по возрастанию
display(data[(2012<=data.release_year) & (data.release_year<= 2014)].sort_values(by=['profit']).head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,caststring,month,titlelength,studiostring
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...",7,13,"[Walt Disney Pictures, Jerry Bruckheimer Films..."

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = '11. Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [70]:
#выбираем колонку жанров, преврашаем значения в строки,затем разделям по вертикальной черте в списки
#с помощью метода explode разбиваем строки, чтобы в каждой осталось по одному значению жанра
#с помощью метода mode получаем серию самых частых элементов
data.genres.str.split('|').explode().mode()

0    Drama
dtype: object

In [71]:
data_tmp = data
data_tmp=data_tmp['genres'].str.cat(sep='|') # превращаем все в одну строку
data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
display(data_tmp.head(1))

Drama    782
dtype: int64

In [73]:
#используем функцию из предобработки
countcolumn('genres')

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '12. Drama'

In [31]:
#используем функцию из предобрабоки
#в качетве аргумента используем отфильтрованный по фильмам с положительной прибылью датафрейм
countcolumn("genres",data[data.profit>0])

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = '13. Peter Jackson '

In [75]:
#делаем группировку по режжисеру для колнки сборов, суммируя значения и сортируя по убыванию
display(data.groupby(["director"])["revenue"].sum().sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = '14. Robert Rodriguez '

In [35]:
#создаем временный датафрейм содержащий только фирмы с жанром action
data_action = data[data.genres.str.contains("Action")]
#используем функцию для подсчета количества фильмов у каждого режиссера
countcolumn('director',data_action)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Geoffrey Sax          1
Simon Hunter          1
Tamra Davis           1
Eli Roth              1
Jim Gillespie         1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = '15. Chris Hemsworth'

In [76]:
#создаем столбец со значениями актерского состава в виде списка
data['caststring']=data.cast.str.split('|')
#создаем датафрейм со строками разбитыми по одному актеру с помощью метода explode
datacast = data.explode("caststring")
#фильтруем спиок по 2012 году, группируем по актерам суммируя значения сборов и сортируя по убыванию
display(datacast[datacast.release_year==2012].groupby(["caststring"])["revenue"].sum().sort_values(ascending=False).head(1))

caststring
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = '16. Matt Damon '

In [77]:
#фильтруем актерскй датафрейм по фльмам с бюджетом выше среднего и подсчиитываем количество фильмов для каждого актера
display(datacast[datacast.budget>datacast.budget.mean()].caststring.value_counts().head(1))

Matt Damon    18
Name: caststring, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
 answers['17'] = '17. Action'

In [41]:
#создаем датафрейм с фильмами с Николасом Кейджем
data_cage = data[data.cast.str.contains("Nicolas Cage")]
#Используя функцию из предобработки подсчитываем количество фильмов каждого жанра
countcolumn('genres',data_cage)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
 answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

In [78]:
#создаем датафрейм для фильмов парамаунт
data_paramount = data[data.production_companies.str.contains("Paramount Pictures")]
#сортируем его по прибыли по возрастанию
display(data_paramount.sort_values(by = "profit").head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,caststring,month,titlelength,studiostring
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",7,18,"[Paramount Pictures, Intermedia Films, Nationa..."

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
 answers['19'] = '19. 2015'

In [79]:
#группируем по годам по суммарным значениям сборов сортируя по убыванию
display(data.groupby(["release_year"])['revenue'].sum().sort_values(ascending=False).head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
 answers['20'] = '20. 2014'

In [47]:
#создаем датафрейм для фильмов Warner Bros
data_warner = data[data.production_companies.str.contains("Warner Bros")]
#группируем его по годам по суммарным значениям прибыли сортируя по убыванию
data_warner.groupby(["release_year"])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
 answers['21'] = '21. 9'

In [49]:
#создаем колонку с месяцем выхода фильма
data['month']=data.release_date.str.split('/',1).apply(lambda x:int(x[0]))
#подсчитываем количество фиильмов для каждого месяца
data.month.value_counts().sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = '22. 450'

In [51]:
#находим количество элементов датафрейма отфильтрованного по летним месяцам
len(data[data.month.isin([6,7,8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers['23'] = '23. Peter Jackson'

In [53]:
#подсчитываем кол-во фильмов вышедших зимой для каждого режиссера
data[data.month.isin([1,2,12])].director.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
Charles Stone III    1
Rob Bowman           1
Dewey Nicks          1
Frank Marshall       1
Jim Gillespie        1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = '24. Four By Two Productions'

In [55]:
#создаем колонку с количеством букв в названии фильмов 
data['titlelength']=data.original_title.str.replace(" ", "").apply(lambda x:len(x))
#создаем колонку со списками студий участвовавших в прозводстве фильма
data['studiostring']=data.production_companies.str.split('|')
#оздаем датафрейм о строками разбитыми по значениям студий
datastudio = data.explode("studiostring")
#группируем его по студиям и среднему значению количества букв в названиях фильмов
display(datastudio.groupby(['studiostring'])["titlelength"].mean().sort_values(ascending=False))

studiostring
Four By Two Productions       72.0
Jim Henson Company, The       50.0
Dos Corazones                 39.0
Museum Canada Productions     39.0
Polsky Films                  38.0
                              ...
Berlanti Productions           3.0
Everest Entertainment          3.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Global Entertainment Group     2.0
Name: titlelength, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = '25. Midnight Picture Show'

In [57]:
#создаем колонку с количеством слов в описании фильмов 
datastudio['overviewwords']=datastudio.overview.str.split().apply(lambda x:len(x))
#группируем его по студиям и среднему значению количества слов в описании фильмов 
display(datastudio.groupby(['studiostring'])["overviewwords"].mean().sort_values(ascending=False))

studiostring
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           159.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Henceforth                                13.0
Our Stories Films                         13.0
London Boulevard                          13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: overviewwords, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers['26'] = '''26.  Inside Out
                        Room
                        Interstellar
                        Guardians of the Galaxy
                        The Imitation Game
                        Gone Girl
                        The Grand Budapest Hotel
                        Inception
                        The Dark Knight
                        The Pianist
                        The Lord of the Rings: The Return of the King
                        The Wolf of Wall Street
                        12 Years a Slave
                        Memento'''

In [59]:
#фильтруем датафрейм для фильмов, рейтинг которых выше чем рейтинг фильмов из 99% квантиля
data[data.vote_average>data.vote_average.quantile(.99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [60]:
answers['27'] = '27. Daniel Radcliffe, Rupert Grint'

In [61]:
#импориируем библиотеку itertools
import itertools 
#создаем словарь для хранения пар акеров и кол-ва фильмов с их участием
couple_cast={}
#с помощью цикла и метода itertools.combinations получаем все пары актеров и подсчитываем колво фильмов
for cast in data['caststring']:
    for couple in list(itertools.combinations(cast,2)):
        if tuple(sorted(couple)) in couple_cast.keys():
            couple_cast[tuple(sorted(couple))]+=1
        else:
            couple_cast[tuple(sorted(couple))]=1
#выводим пары  наибольшим колвом фильмов
max_key = max(couple_cast, key=couple_cast.get)
print(max_key)

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson ',
 '14': '14. Robert Rodriguez ',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon ',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26.  Inside Out\n                        Room\n                        Interstellar\n                        Guardians of the Galaxy\n                        The Imitation Game\n                        Gone Girl\n                        The Grand Budapest Hotel\n                        Inception\n                        The Dark Knight\n                        The Pianist\n                        The Lord of the Rings: The Return of the King\n                        The Wolf of Wall Street\n                        12 Years a Slave\n                        Memento',
 '27': '27. Daniel Radcliffe, Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27